<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.mobile.feedbacksystem">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_feedback_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.LauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.report.ReportActivity"
            android:label="@string/label_reportPage"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.setup.SetupActivity"
            android:label="@string/label_setupPage"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.feedback.home.FeedbackActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.qr.ScanQRCodeActivity"
            android:label="@string/label_scanPage"
            android:parentActivityName=".ui.admin.AddDeviceActivity" />
        <activity
            android:name=".ui.admin.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.feedback.home.SubmitReasonActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.admin.AddDeviceActivity"
            android:label="@string/add_device"
            android:parentActivityName=".ui.admin.AdminMainActivity" />
        <activity
            android:name=".ui.admin.AddLocationActivity"
            android:label="@string/add_location"
            android:parentActivityName=".ui.admin.AdminMainActivity" />
        <activity
            android:name=".ui.admin.SelectLocationActivity"
            android:label="@string/select_location"
            android:parentActivityName=".ui.admin.AddLocationActivity" />
    </application>

</manifest>